@import '../../../../../styles/sass/variables';

.UseTime {
	&--Header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 2.4rem;
	}
	&--Title {
		color: $color-black-200;
		font-size: 2rem;
		font-style: normal;
		font-weight: 600;
		line-height: 2.2rem;
	}
	&--Chip {
		display: flex;
		gap: 1rem;
	}
	&--TimeDataContent {
		display: flex;
		gap: 1rem;
        align-items: baseline;
        margin-bottom: 1rem;
	}
	&--Time {
		color: $color-primary;
		font-size: 3rem;
		font-style: normal;
		font-weight: 600;
	}
	&--TimeData {
		display: flex;
		gap: 0.6rem;
		color: $color-green-750;
		font-size: 1.4rem;
		font-style: normal;
		font-weight: 600;
	}
	&--TimeContent {
		color: $color-grey-550;
		font-size: 1.4rem;
		font-style: normal;
		font-weight: 400;
	}
}
