.search_table_wrp {
	width: 100%;
	h4 {
		font-family: 'Syne';
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		/* identical to box height */
		margin-top: 30px;
		letter-spacing: 0.02em;

		/* neutral/1 */

		color: #1e1e1e;
	}
	.search_table {
		margin-top: 20px;
	}
}
