.AllHostels {
	&--Header {
		display: flex;
		gap: 10px;
	}
	&--Beds {
		display: flex;
		// border-bottom: 1px solid grey;
	}
	&--Sections {
		display: flex;
		gap: 16px;
	}
	&--MiddleSection {
		display: flex;
		gap: 8px;
		flex-direction: column;
		flex-grow: 1;
	}
	&--Collection {
		display: flex;
		align-items: baseline;
		justify-content: baseline;

		// border-bottom: 1px solid grey;
		flex-direction: column;
	}
	&--InlineValue {
		display: flex;
		align-items: center;
		justify-content: space-between;

		border-bottom: 1px solid grey;
	}
	&--Expected {
		display: flex;
		justify-content: space-between;
	}
	&--RightSection {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&--Cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 1fr;
		gap: 16px;
	}
	&--Card {
		border-radius: 10px;
		background: #111;
		padding: 10px;
	}
	&--Title {
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 2rem;
		color: #878787;
	}
	&--SubTitle {
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2rem;
		color: #f9f9f9;
		overflow: hidden;
		text-overflow: ellipsis;
		text-overflow: hidden;
		word-wrap: break-word;
		margin-top: 0.5rem;
	}
	&--Tenants {
		display: flex;
		justify-content: start;
		width: 50%;
	}
}
