.AllRooms {
	&--Dropdowns {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 24px;
	}
	&--Header {
		display: flex;
		align-items: center;
		gap: 24px;
		flex-shrink: 0;
	}
	&--Table {
		padding: 24px 0;
	}
	&--Tabs {
		margin: 16px 0 0 32px;
	}
}
