@import '../../../../styles/sass/variables';

.AddTenants {
	&--BreadCrumb {
		padding: 10px;
	}
	&--Form {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&--Container {
		display: flex;
		justify-content: space-between;
	}

	&--Tab {
		margin-bottom: 2.5rem;
	}
	&--BoxFull {
		width: 100%;
	}
	&--Box {
		width: 65%;
	}
	&--SideContent {
		width: 35%;
	}
	&--Name {
		font-size: 2.8rem;
		font-weight: 600;
		color: $color-primary;
		// padding-bottom: 20px;
	}
	&--Name {
		font-size: 2.8rem;
		font-weight: 600;
		color: $color-primary;
		padding-bottom: 20px;
	}

	&--CodeNumber {
		display: flex;
		flex-direction: column;
		margin-top: 24px;
		color: #b0b0b0;
		font-size: 1.6rem;
		border-radius: 10px;
		background: $new-black-50;
		height: 45px;
		padding: 1rem 4.5rem;
	}
	&--EqualDiv {
		display: grid;
		gap: 1.6rem;
		grid-template-columns: 1fr 1fr;
	}
	&--MobileDiv {
		display: grid;
		gap: 1.6rem;
		grid-template-columns: 1fr 9fr;
	}
	&--Dropdown {
		// width: 30%;
	}
	&--StepButtons {
		padding-top: 20px;
		display: flex;
		justify-content: end;
		gap: 20px;
	}
	&--District {
		display: flex;
		gap: 20px;
	}
}
