@import '../../../styles/sass/variables';
@import '../../../styles/sass/mixins';
.LoginView {
	&--CheckboxContainer {
		display: flex;
		justify-content: start;
		margin-top: 24px;
	}
	&--LinksContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 3rem;
		gap: 1rem;
	}
	&--Button {
		margin-top: 32px;
		width: 100%;
	}
	&--ForgotLink {
		color: $color-grey-550;
		font-size: 1.6rem;
		font-style: normal;
		font-weight: 400;
		// line-height: 140%;
		transition: text-decoration 0.3s ease;
	}
	&--ResetLink {
		color: $color-dark-red-400;
		font-size: 1.6rem;
		font-style: normal;
		font-weight: 500;
		// line-height: 110%;
		transition: text-decoration 0.3s ease;
	}

	&--ForgotLink:hover,
	&--ResetLink:hover {
		cursor: pointer;
		text-decoration: underline;
	}
	&--Icon {
		cursor: pointer;
	}
	&--InputBox {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}
	&--Input {
		width: 100%;
	}
	@include media-xl {
		&--FormLayout {
			width: 25%;
			height: 60%;
		}
	}

	@include media-xxl {
		&--FormLayout {
			width: 25%;
			height: 55%;
		}
	}
}
