// .search_cutomer_wrp {
// .search_customer {
// h4 {
//     font-family: 'Syne';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 20px;
//     line-height: 24px;
//     /* identical to box height */

//     letter-spacing: 0.02em;

//     /* neutral/1 */

//     color: #1e1e1e;
// }
// .search_customer_inputs {
// display: flex;
// justify-content: space-between;
// // align-items: center;
// height: 110px;
// margin-top: 20px;
// width: 93%;
// .select_input {
// width: 50%;
// }
// .customer_input {
//     width: 48%;
// }
// .custom-select {
//     width: 48%;
// }
// }
// .search_btn {
//     display: flex;
//     width: 93%;
//     justify-content: flex-end;
// }
// }
// }

/////////// after refactoring /////////////////

.SearchCustomer {
	&__inputs {
		display: flex;
		justify-content: space-between;
		// align-items: center;
		height: 110px;
		margin-top: 20px;

		gap: 32px;
	}
	&__heading {
		font-family: 'Syne';
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.02em;
		color: #1e1e1e;
	}
	&__button {
		display: flex;

		justify-content: flex-end;
	}
	&__customer__inputs {
		display: flex;
		justify-content: space-between;
		// align-items: center;
		height: 110px;
		margin-top: 20px;
	}
	&__select__input {
		width: 50%;
	}
	&__customer__input {
		width: 48%;
	}
}
