@import '../../../styles/sass/variables';

.Box {
	padding: 2.4rem 3.2rem;
	margin: 1rem;
	border-radius: 1.2rem;
	box-shadow: 0rem 0.6rem 1.2rem 0rem rgba(0, 0, 0, 0.2);
	background-color: $color-black-100;
	overflow: hidden; // Ensure content does not overflow the box

	&--dark {
		box-shadow: 0rem 0.6rem 1.2rem 0rem rgba(0, 0, 0, 0.2);
		background-color: $color-black-50;
		padding: 1.6rem 2rem;
		margin: 1rem;
	}
}
