.RoomBadge {
	display: flex;
	cursor: pointer;
	gap: 16px;
	flex-wrap: wrap;

	width: 100%;
	:hover {
		text-decoration: underline;
	}
	&--Filled {
		width: 53px;
		height: 36px;
		flex-shrink: 0;
		border-radius: 5px;
		background: #ff6384;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&--Vacant {
		width: 53px;
		height: 36px;
		flex-shrink: 0;
		border-radius: 5px;
		background: #36a2eb;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&--Title {
		// color: #fff;
		// font-size: 16px;
		// font-style: normal;
		// font-weight: 400;
		// line-height: normal;
	}
}
