.AllHostels {
	&--Header {
		display: flex;
		gap: 10px;
	}
	&--Beds {
		display: flex;
		// border-bottom: 1px solid grey;
	}
	&--Sections {
		display: flex;
		gap: 16px;
	}
	&--MiddleSection {
		display: flex;
		gap: 8px;
		flex-direction: column;
		flex-grow: 1;
	}
	&--Collection {
		display: flex;
		align-items: baseline;
		justify-content: baseline;

		// border-bottom: 1px solid grey;
		flex-direction: column;
	}
	&--InlineValue {
		display: flex;
		align-items: center;
		justify-content: space-between;

		border-bottom: 1px solid grey;
	}
	&--Expected {
		display: flex;
		justify-content: space-between;
	}
	&--RightSection {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&--Cards {
		display: flex;
		gap: 16px;
	}
	&--Tenants {
		display: flex;
		justify-content: start;
		width: 50%;
	}
}
