@import '../../../../styles/sass/variables';

.TableHeaderContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 3.2rem;

	&--Title {
		font-weight: 600;
		font-size: 2.8rem;
		color: $color-primary;
	}

	&--DownloadSelect {
		width: 25rem;
	}
}
