@import '../../../styles/sass/variables';

.Table {
	width: 100%;
	height: 60vh;
	background-color: #333; /* Dark background color */
	color: #fff; /* Light text color */
}

/*---------------- ag-grid customization -------------------------*/

.ag-theme-alpine {
	width: 100%;
	height: 100%;
	--ag-border-color: #222; /* Dark border color */
	--ag-header-background-color: #111; /* Dark header background color */
	--ag-border-width: 2px;
}

.ag-root-wrapper {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	background-color: #333; /* Dark background color */
}

.ag-theme-alpine .ag-header {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.ag-theme-alpine .ag-row {
	border-color: #444; /* Darker border color */
}

.ag-header-cell-text {
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 600;
	line-height: 2rem;
	color: #bbb; /* Lighter text color */
}

.ag-theme-alpine .ag-row .ag-cell {
	user-select: text;
	cursor: text;
	display: flex;
	align-items: center;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: $color-grey-100; /* Lighter text color */
	background-color: #222; /* Dark background color */
}

.ag-pinned-right-cols-container .ag-cell-wrapper {
	width: 100%;
	display: grid;
	place-items: center;
	place-content: center;
	background-color: #222; /* Dark background color */
}

.ag-pinned-right-header {
	border: none;
	display: grid;
	place-items: center;
	background-color: #111; /* Darker header background color */
}

.overflow-cell {
	white-space: normal;
	word-wrap: break-word;
}

/*---------------- customize scrollbar-------------------------*/

.Table ::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.Table ::-webkit-scrollbar-track {
	background-color: #333; /* Dark background color */
	border-radius: 10px;
}

.Table ::-webkit-scrollbar-thumb {
	background: #555; /* Darker scrollbar thumb color */
	border-radius: 10px;
}
