@import '../../../../../styles/sass/variables';

.SideContent {
	.Box {
		padding: 2rem 2rem;
	}
	&--Box {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&--Title {
		color: $color-black-200;
		font-size: 2rem;
		font-style: normal;
		font-weight: 600;
		line-height: 2.2rem;
	}
}
