@import '../../../../styles/sass/variables';
.TenantsTable {
	padding: 0;
	&--Header {
		padding: 1.5rem 3.2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 24px;
	}
	&--HeaderRight {
		display: flex;
		gap: 24px;
	}
	&--Title {
		font-size: 2.8rem;
		font-style: normal;
		font-weight: 600;
		line-height: 30px;
		color: $color-primary;
	}
}
