@import '../../../styles/sass/variables';

.Referral {
	&--Header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&--Title {
		color: $color-black-200;
		font-size: 2rem;
		font-style: normal;
		font-weight: 600;
		line-height: 2.2rem;
	}
	&--Container {
		margin-top: 1.5rem;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		max-height: 60vh;
		overflow: auto;
	}
	&--Content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $color-grey-300;
		padding: 8px 0;
		margin-right: 0.5rem;
	}
	&--Span {
		color: $color-grey-500;
	}
	&--Number {
		color: $color-primary;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 22.4px;
	}
	&--Date {
		color: $color-grey-600;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 19px; /* 19.6px */
	}
}

.Referral ::-webkit-scrollbar {
	width: 0.8rem;
	height: 0.7rem;
}

.Referral ::-webkit-scrollbar-track {
	background-color: $color-black-100;
	border-radius: 10px;
}

.Referral ::-webkit-scrollbar-thumb {
	background: $color-grey-600;
	border-radius: 10px;
}
